@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("assets/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@theme {
  --font-sans: "Pretendard";
  --color-main: #4F5BFF;
  --color-mainvariant: #F2F5FF;
  --color-white: #FFFFFF;
  --color-100: #F4F6F8;
  --color-200: #E9EBEF;
  --color-400: #A9ACB2;
  --color-600: #666B76;
  --color-800: #343841;
  --color-900: #1A1A1A;
  --color-error: #F24B4B;
  --color-eat: #F2A44B;
  --color-finance: #42C563;
}
